* {
    box-sizing: border-box;
}
form {
    padding: 10px;
}
textarea {
    display: block;
    width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    outline: 0;
    font-size: 16px;
    padding: 10px;
}
button {
    display: block;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    outline: 0;
    padding: 10px 5px;
    cursor: pointer;
}
#btn-frame-1 {
    background: rgb(194, 72, 15);
}
#btn-frame-2 {
    background: rgb(34, 194, 138);
}